<ion-view view-title="Home">
    <ion-content ng-class="{expanded:$scope.isExpanded}"   class="_Home">
        <div>
        <ul  >
            <li >
                <md-card  class="card cardboxblack  box_shape  " >
                     <h2 class="Hello" >HELLO </h2>
                    
                </md-card>
            </li>
        </ul>
        </div>
<!--
        <div id="alinha">
                   <ul>
                        <li>Item1</li>
                        <li>Item2</li>
                        <li>Item3</li>
                   </ul>
                   <ul>
                        <li>Item1</li>
                        <li>Item2</li>
                        <li>Item3</li>
                   </ul>
                   <ul>
                        <li>Item1</li>
                        <li>Item2</li>
                        <li>Item3</li>
                   </ul>
                   <ul>
                        <li>Item1</li>
                        <li>Item2</li>
                        <li>Item3</li>
                   </ul>
        </div>
--><div class="list half animate-fade-slide-in-right"  ">

        
        <div class=" animate-fade-slide-in-right   "> <!-- animacao animate-fade-slide-in-right   -->


            <div >
                <ul>
                    <li  > 
                        
                            <p class=" Sales-representative" >
                                    Sales representative
                            </p> 
                        <div class="line">  
                        </div>  
                    </li>
                    <li >
                            <div>
                                <img src="img/img-woman-1.png"
                                    class="img_woman_1  ">
                            </div>
                    </li>

                    <li>
                        <p class=" Collecting-Consumer-Information " >
                                Collecting Consumer Information
                        </p> 
                        <p class=" Collecttext " >
                            Collect the largest amount of data and characteristics about the consumer searched for the most compatible result.
                        </p>
                    </li>
                     <li >          
     
                            <div class="line_pink"> 
                                <img src="img/img-woman-2.png">
                                    
                            </div> 
                    </li>

                </ul>
                </div>




        </div>

        <div>
            <ul>
                <li>
                    <md-card ui-sref="app.formStart1" ng-click="criarcadastro()" class="card  cardboxblackslim box_shape  ">
                     <h2 class="START-NOW"  >START NOW</h2>
                     
                     <img   src="img/seta.png"
                            class="icn_arrow">
                    
                    </md-card>
                </li>
            </ul>
        </div>

            <a ng-show=false class="item item-avatar item-icon-right">
                <img src="img/dry.png">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>

        <style type="text/css">

        </style>
    </ion-content>
</ion-view>

