<ion-view view-title="Form1 "   >
    <ion-content ng-class="{expanded:$scope.isExpanded}"   class="_Form">

<md-content layout-padding="">

        <div> 
            <p class="FillText"> --- Fill in correctly and detaily </p>
            <p class="the-personalText"> THE PERSONAL CONSUMER DATA </p>
        </div>
        <style type="text/css">

        .Rectangle-3 {
          width: 768px;
          height: 832px;
          background-color: #f6f6f6;
        }
        </style>
    <div class="Rectangle-3">
      <form name="userForm">
<!--
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs="">
            <label>Company (Disabled)</label>
            <input ng-model="user.company" disabled="">
          </md-input-container>

          <md-input-container>
            <label>Enter date</label>
            <md-datepicker ng-model="user.submissionDate"></md-datepicker>
          </md-input-container>
        </div>
-->
          <md-content  layout-gt-sm="row" layout-padding>
            <div>
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Consumer name</label>
                    <input ng-model="user.consumername">
                    </md-input-container>
            </div>
          </md-content>
          <pre>{{cliente | json}}</pre>
          <pre>{{user | json}}</pre>
<!--        

        <md-content layout-gt-xs="row" layout-padding> 
            <md-input-container class="md-block" flex-gt-sm="">
               
               <label> Country</label>
                <md-select ng-model="user.state">
                  <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                    {{state.abbrev}}
                  </md-option>
                </md-select>

              </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
               
               <label>State </label>
                <md-select ng-model="user.state">
                  <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                    {{state.abbrev}}
                  </md-option>
                </md-select>

              </md-input-container>
        </md-content>



        <md-content layout-gt-xs="row" layout-padding> 

              <md-input-container class="md-block" flex-gt-sm="">
                    <label>City </label>
                    <input ng-model="user.firstName">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="">
                    <label>Ocupation</label>
                    <input ng-model="user.firstName">
              </md-input-container>
        </md-content>

        <md-content layout-gt-xs="row" layout-padding> 
              <md-input-container class="md-block" flex-gt-sm="" > 
                <label>Date of birth</label>
                <md-datepicker ng-model="user.submissionDate"></md-datepicker>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm="">
                    <label>Gender</label>
                    <input ng-model="user.firstName">
              </md-input-container>
        </md-content>



          <md-content  layout-gt-sm="row" layout-padding>
            <div>
              <md-input-container class="md-block" >
                <label>Email</label>
                <input ng-model="user.email" type="email">
              </md-input-container>
            </div>
          </md-content>

-->

      </form>
          <div>
            <ul>
                <li>
                    <md-card ui-sref="app.skintype"  class="card  cardboxblackslim box_shape  ">
                     <h2 class="START-NOW"  > NEXT </h2>
                     
                     <img   src="img/seta.png"
                            class="icn_arrow">
                    
                    </md-card>
                </li>
            </ul>
          </div>
    </div>


  </md-content>


        <style type="text/css">

        </style>
    </ion-content>
</ion-view>
